<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Product List</h2>
    <ul>
      {% for product in products %}
        <li>
          {{ product.name }} - Quantity: {{ product.quantity }} - price : {{product.price}}
          <form class="add-to-cart-form" method="post" action="{% url 'add_to_cart' 'type2' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <label>
              Add to Cart:
              <input type="checkbox" name="add_to_cart">
            </label>
          </form>
        </li>
      {% endfor %}
      <form class="add-to-cart-form2" method="post" action="{% url 'add_to_cart' 'type2' %}">
        {% csrf_token %}
        <div class="quantity-control">
            <button type="button" onclick="decrementQuantity('{{ product.id }}')">-</button>
            <input class="quantity_input" type="number" name="quantity" id="id_quantity_{{ product.id }}" value="1" min="0">
            <button type="button" onclick="incrementQuantity('{{ product.id }}')">+</button>
          </div>
          <label>
            Special:
            <input type="checkbox" name="special">
          </label>
      </form>
      
      <button class="button-btn" type="button" onclick="submitForms()">Submit All Forms</button>

    </ul>   
    <p><a href="{% url 'add_product' %}">Add a new product</a></p>
    <p><a href="{% url 'view_cart' %}">View Cart</a></p>

    <script>
        const typeValue = "type2";
        function submitForms() {
            const forms = document.querySelectorAll('.add-to-cart-form, .add-to-cart-form2');
            const formData = new FormData();
            let addToCartCount = 0;
    
            forms.forEach(form => {
                const formInputs = form.querySelectorAll('input');
    
                formInputs.forEach(input => {
                    if (input.type === 'checkbox') {
                        if (input.checked) {
                            if (input.name === 'add_to_cart') {
                                // Check if 'add_to_cart' checkbox count exceeds 2
                                if (addToCartCount >= 2) {
                                    alert('You can only select up to 2 products for add_to_cart.');
                                } else {
                                    addToCartCount++;
                                    formData.append(input.name, 'checked');
                                }
                            } else {
                                // For other checkboxes, append as usual
                                formData.append(input.name, 'checked');
                            }
                        } else {
                            formData.append(input.name, 'not checked');
                        }
                    } else if (input.type === 'number') {
                        // Include the quantity value in the form data
                        formData.append('quantity', input.value);
                    } else {
                        formData.append(input.name, input.value);
                    }
                });
            });
    
            fetch('/add-to-cart/'+typeValue+'/', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    const homeURL = "{% url 'view_cart' %}";
                    window.location.href = homeURL;
                }
            });
        }
    
        function incrementQuantity(productId) {
            var quantityInput = document.getElementById("id_quantity_" + productId);
            quantityInput.value = parseInt(quantityInput.value) + 1;
        }
    
        function decrementQuantity(productId) {
            var quantityInput = document.getElementById("id_quantity_" + productId);
            var currentQuantity = parseInt(quantityInput.value);
            quantityInput.value = currentQuantity > 0 ? currentQuantity - 1 : 0;
        }
    </script>
    
    

</body>
</html>